altair==4.2.0
anyio==3.6.2
asgiref==3.4.1
asttokens==2.2.1
attrs==22.1.0
autopep8==1.5.7
backcall==0.2.0
blinker==1.5
cachetools==5.2.0
certifi==2022.9.14
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.5
comm==0.1.2
commonmark==0.9.1
contourpy==1.0.7
cycler==0.11.0
debugpy==1.6.6
decorator==5.1.1
Django==3.2.7
django-cors-headers==3.8.0
django-environ==0.9.0
djangorestframework==3.12.4
entrypoints==0.4
exceptiongroup==1.1.1
executing==1.2.0
fastapi==0.95.1
fonttools==4.39.2
gitdb==4.0.9
GitPython==3.1.27
greenlet==2.0.2
gunicorn==20.1.0
h11==0.14.0
idna==3.4
importlib-metadata==4.12.0
importlib-resources==5.12.0
iniconfig==2.0.0
ipykernel==6.21.3
ipython==8.11.0
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.16.0
jupyter_client==8.0.3
jupyter_core==5.3.0
kiwisolver==1.4.4
lxml==4.9.1
MarkupSafe==2.1.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mindsdb-sdk==1.0.2
mindsdb-sql==0.5.1
multitasking==0.0.11
nest-asyncio==1.5.6
numpy==1.23.3
packaging==21.3
pandas==1.3.5
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
platformdirs==3.1.1
pluggy==1.0.0
prompt-toolkit==3.0.38
protobuf==3.20.1
psutil==5.9.4
pure-eval==0.2.2
pyarrow==9.0.0
pycodestyle==2.7.0
pydantic==1.10.7
pydeck==0.8.0b3
pyflakes==3.0.1
Pygments==2.13.0
Pympler==1.0.1
PyMySQL==1.0.3
pyparsing==3.0.9
pyrsistent==0.18.1
pytest==7.3.1
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2022.2.1
pytz-deprecation-shim==0.1.0.post0
pywin32==305
pyzmq==25.0.1
requests==2.28.1
rich==12.5.1
scipy==1.10.1
seaborn==0.12.2
semver==2.13.0
six==1.16.0
sly==0.5
smmap==5.0.0
sniffio==1.3.0
SQLAlchemy==1.4.47
sqlparse==0.4.2
stack-data==0.6.2
starlette==0.26.1
streamlit==1.13.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.2
traitlets==5.9.0
typing_extensions==4.3.0
tzdata==2022.2
tzlocal==4.2
urllib3==1.26.12
uvicorn==0.21.1
validators==0.20.0
watchdog==2.1.9
wcwidth==0.2.6
whitenoise==6.3.0
yfinance==0.1.74
zipp==3.8.1
